<!DOCTYPE html>
<html>
  <head>
    <%- include ('partials/analytics') %>
    <title>Browser Games</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg" />

    <link rel="stylesheet" type="text/css" href="/home/css/home.css" />
    <script src="/js/jquery-1.10.0.min.js"></script>

    <script src="/home/js/home.js"></script>
  </head>
  <body>
    <h1 class="title">Games</h1>
    <ul class="game-list">
      <li>
        <a
          href="/game/snaek"
          title="A twisted snake game (unfinished: only story mode available)"
        >
          <img src="/img/snapshots/snaek.png" />
        </a>
      </li>
      <li>
        <a
          href="/game/maze"
          title="Go throught the labyrinth as fast as you can"
        >
          <img src="/img/snapshots/maze.png" />
        </a>
      </li>
      <li>
        <a href="/game/maze3d" title="Same labyrinth but with a 3d style">
          <img src="/img/snapshots/maze3d.png" />
        </a>
      </li>
      <li>
        <a
          href="/game/maze3dGoT"
          title="Same labyrinth but with a 3d style and a GoT intro"
        >
          <img src="/img/snapshots/maze3dGoT.png" />
        </a>
      </li>
    </ul>
  </body>
</html>
