<!DOCTYPE html>
<html>
  <head>
    <title>Snaek</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    
    <link rel="stylesheet" type="text/css" href="/snaek/css/snaek.css">
    <script src="/js/jquery-1.10.0.min.js"></script>

    <script src="/snaek/js/snaek.js" ></script>
    <script>jQuery(function($){onLoadGame();});</script>
  </head>
  <body>
    <div id="main" style="width:100%">
      <div id="content">
      </div>
    </div>
  </body>
</html>
