<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tirdera</title>
    <link rel="icon" type="image/svg+xml" href="/img/favicon.svg">
    
    <link rel="stylesheet" type="text/css" href="/snaek/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <script src="/snaek/js/main.js" ></script>
    <script>jQuery(function($){onLoadGame();});</script>
  </head>
  <body>
    <div id="main" style="width:100%">
      <div id="content">
      </div>
    </div>    
  </body>
</html>
